*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}
.headernav{
    width: 100%;
    display: flex;
    background-color: #2b5295;
    color: white;
    align-items: center;
    .logo{
        width: 20%;
        padding: 5px 10px;
        font-size: 18px;
        a{
            width: 100%;
            display: flex;
            align-items: flex-end;
            color: white!important;
            img{
                width: 50px;
                flex-shrink: 0;
            }
            div{
                display: flex;
                flex-direction: column;
            }
        }
    }
    .navlist{
        display: flex;
        flex: 1;
        li{
            width: 12%;
            text-align: center;
            height: 100%;
            line-height: 65px;
            cursor: pointer;
        }
    }
    .headerlast{
        width: 20%;
        padding: 0 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .username,.tips{
            cursor: pointer;
            line-height: 65px;
            font-size: 14px;
        }
    }
}
.main{
    width: 100%;
    display: flex;
}
.userinfo{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 66px;
    .userimg{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .userinfor{
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        span:nth-child(1){
            width: 50%;
            text-indent: 20px;
        }
        span{
            width: 50%;
            padding: 4px 0;
            text-align: left;;
        }
    }
}
.each{
    width: 70%;
    >div{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .eachmodal{
        width: 48%;
        margin-top: 26px;
        margin-left: 2%;
        background: white;
        border-radius: 8px;
        padding: 0 0 60px 0;
        .modalheader{
            width: 94%;
            margin: 0 auto;
            display:flex;
            align-items: center;
            line-height: 40px;
            padding-top: 5px;
            .line{
                width: 4px;
                height: 20px;
                margin-right: 15px;
                background:#0d44a1;
            }
            .title{
                color: #2b5295;
            }
            .headerright{
                flex: 1;
                align-items: center;
                display: flex;
                font-size: 14px;
                justify-content: flex-end;
                select{
                    padding:  0 5px;
                    line-height: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: none;
                    outline: none;
                    border: solid 1px #999999;
                    border-radius: 4px;
                }
                span{
                    padding: 0 5px;
                }
                span:nth-child(1){
                    line-height: 20px;
                    border-right: solid 1px #999999;
                    color: #f28f31;
                }
                span:nth-child(2){
                    color: #999999;
                }
            }
            
        }
        .modalmain{
            width: 94%;
            margin: 0 auto;
            display: flex;
            .left{
                width: 40%;
                padding: 15px 0;
                .yuan{
                    width: 130px;
                    height: 130px;
                    position: relative;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    box-sizing: border-box;
                    border: solid 10px #f3f3fd;
                    span:nth-child(1){
                        font-size: 14px;
                        color: gray;
                    }
                    span:nth-child(2){
                        font-size: 28px;
                        color: gray;
                    }
                }
                .point{
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    background: #5daaee;
                }
            }
            .right{
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                line-height: 40px;
                margin-top: 20px;
                span{
                    width: 50%;
                    color: #5cabed;
                }
            }
        }
    }
}
.active{
    background:#1e3d73;
}